.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selects {
    display: flex;
    align-items: center;
}

.selectWithText {
    margin: 10px;
}

.select {
    display: flex;
    align-items: center;
    justify-content: center;
}


.chart {
    width: 375px;
    padding: 15px;
}