* {
    /*background-color: 	#E0E0E0;*/
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.StarDashboardPage-container {
    background-color: 	#F5F5F5;
    border-top: 2px #F5F5F5 solid;
    height: 60rem;
    /* margin: 0; */
}

.StarDashboardPage-wrapper {
    /* border: 2px black solid; */
    height: 75vh;
    margin: 30px 30px 30px 30px;
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    /*background-color: white;*/
}

.models {
    padding: 15px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlink {
    text-decoration: none;
}